@import "../css/globalstyles.css";
@import "../css/header&footer.css";

.filter-posts {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.filter-posts p {
    align-self: center;
    margin-left: 3%;
}

.filter-posts label{
    align-self: center;
    padding-left: 5%;
}

.all-posts {
    display: flex;
    flex-direction: column;
    position: relative;
}

.all-posts a {
    text-decoration: none;
    color: black;
}

.blog-post {
    display: flex;
    flex-direction: row;
    margin: 5% 10%;
}

.blog-image {
    flex: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.image-blogpost > img {
   max-height: 100%;
    max-width: 100%;
}

.category-label {
    width: max-content;
    height: max-content;
    padding: 15px;
    background-color: #E8E8E8;
    position: absolute;
    right: 0;
    top: 10%;
    font-size: 15px;
    font-weight: 500;
}

.blog-text {
    flex: 60%;
    padding-left: 5%;
}

.blog-text h3 {
    color: black;
    margin: 0;
    padding-top: 0;
    text-align: left;
}

.small-button {
    margin: 2%;
}

.read-more-post-btn {
    text-decoration: underline;
}

.view-more-btn {
    margin: 50px auto;
    display: block;
}

