@import "../css/globalstyles.css";
@import "../css/header&footer.css";

.filter-container {
    display: flex;
    flex-direction: row;
}

.filter-posts {
    flex: 90%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

main h1 {
    font-family: "Quicksand", sans-serif;
    display: inline-block;
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
}

.filter-posts p {
    align-self: center;
    margin-left: 3%;
}

.filter-posts label {
    align-self: center;
    padding-left: 5%;
}

.all-posts {
    display: flex;
    flex-direction: column;
    position: relative;
}

.all-posts a {
    text-decoration: none;
    color: black;
    display: none;
}

.all-posts a:nth-child(1) {
    display: flex;
}

.all-posts a:nth-child(2) {
    display: flex;
}

.all-posts a:nth-child(3) {
    display: flex;
}

.all-posts a:nth-child(4) {
    display: flex;
}

.all-posts a:nth-child(5) {
    display: flex;
}

.all-posts a:nth-child(6) {
    display: flex;
}

.all-posts a:nth-child(7) {
    display: flex;
}

.all-posts a:nth-child(8) {
    display: flex;
}

.all-posts a:nth-child(9) {
    display: flex;
}

.all-posts a:nth-child(10) {
    display: flex;
}



.blog-post {
    display: flex;
    flex-direction: row;
    margin: 5% 10%;
}

.blog-image {
    flex: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.image-blogpost>img {
    max-height: 100%;
    max-width: 100%;
}

.category-label {
    width: max-content;
    height: max-content;
    padding: 15px;
    background-color: #E8E8E8;
    position: absolute;
    right: 0;
    top: 10%;
    font-size: 15px;
    font-weight: 500;
}

.blog-text {
    flex: 60%;
    padding-left: 5%;
}

.blog-text h2 {
    font-size: 20px;
    color: black;
    margin: 0;
    padding-top: 0;
    text-align: left;
}

.small-button {
    margin: 2%;
}

.read-more-post-btn {
    text-decoration: underline;
}

.view-more-btn {
    margin: 50px auto;
    display: block;
    cursor: pointer;
}


@media screen and (max-width: 810px) {
    main h1 {
        font-size: 30px;
    }

    .filter-container {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }

    .filter-posts {
        display: block;
        align-items: left;
    }

    .filter-posts p {
        display: none;
    }

    .filter-posts label {
        padding-left: 5%;
    }

    input {
        display: inline-block;
        margin: 1%;
    }

    .blog-post {
        display: flex;
        flex-direction: column;
        margin: 5%;
        padding: 5%;
        background-color: #E8E8E8;
        border-radius: 2%;
        box-shadow: #353535 3px 3px 3px;
    }

    .blog-text {
        padding-left: 0;
    }

    .blog-text h2 {
        color: black;
        margin: 0;
        padding-top: 0;
        text-align: left;
    }

    .blog-text p {
        font-size: 15px;
    }

    .view-more-btn {
        margin: 30px auto;
    }
}