@import "../css/globalstyles.css";
@import "../css/header&footer.css";

main h1 {
   display: inline-block;
    margin: 0 auto;
   font-size: 40px;
   padding-bottom: 20px;
   font-family: "Quicksand", sans-serif;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding-bottom: 15vh;
}

#form {
    max-width: 600px;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    border: solid rgb(198, 198, 198);   
    border-radius: 3%;
     display: block;
}

.section-form {
    padding: 20px;
}

input, textarea {
      margin: 15px 10px 0;
      padding: 10px;
      width: 90%;
     border-radius: 4%;
     background-color: rgb(232, 232, 232);
     resize: none;
}

textarea {
    height: 60px;
}

label {
    left: 0;
    margin: 0 auto;
    font-weight: 500;
}

.form-error {
    margin-top: 2px;
    font-size: 10px;
    margin-left: 10px;
    color: red;
    display: none;
  }


.send-button {
  bottom: -70px;
  position: relative;
}

@media screen and (max-width: 810px) {
    main h1 {
        font-size: 30px;
        padding-bottom: 20px;
     }

     .contact-form {
        padding-bottom: 5vh;
    }
     
     #form {
         border: none;
     }
     
     .section-form {
         padding: 20px;
     }
 
    .send-button {
       bottom: 0;
       margin: 20px auto;
     }
     


}