html {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family:  "Quicksand", sans-serif, "Playfair Display", serif, Verdana, Tahoma, sans-serif;
    margin: 0;
  }

  h1, h2, h3 {
    font-family: "Playfair Display", serif;
    margin-top: 0;
  }
  
  .background-main {
    background-image: url(../images/toluca.jpg);
    background-repeat: repeat;
    object-position: top;
    background-size: cover;
    height: 100%;
  }
  
  .spacer {
    height: 200px;
    }

  main {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0 10%;
  }

  .fa-arrow-left {
    left: 0;
    display: inline-block;
    font-size: 30px;
    padding-left: 5%;
  }

  .cta-button {
    background-color: #FFDD00;
    color: black;
    font-weight: bold;
    display: inline;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    text-align: center;
    width: 120px;
    box-shadow: 0 0 3px black;
  }

  .small-button {
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    text-align: center;
    width: 80px;
    box-shadow: 0 0 3px black;
  }

  .cta-button:hover {
    background-color: white;
  }


  @media screen and (max-width: 810px) {
    .background-main {
      background-image: none;
      height: 100%;
    }
    
    .spacer {
      height: 100px;
      }
  
    main {
      background-color: white;
      display: flex;
      flex-direction: column;
      margin: 0;
    }
  }