.black-field {
    background-color: black;
    max-height: 40px;
    width: 100%;
    display: flex;
    justify-content: right;
    position: fixed;
    z-index: 100;
    top: 0;
  }
  
  .black-field i {
    color: white;
    font-size: 20px;
    padding: 10px;
    padding-right: 50px;
  }
  header {
    font-family: "Quicksand", sans-serif;
    top: 0;
    max-height: 160px;
    width: 100%;
    z-index: 100;
    background-color: white;
    box-shadow: 0 0 3px rgb(139, 139, 139);
    position: fixed;
  }
  
  nav ul {
      list-style-type: none;
      display: flex;
      justify-content: space-evenly;
  }
  
  nav ul li {
    display: inline-block;
    padding: 30px;
    margin-top: 3%;
    font-size: larger;
    font-weight: 500;
  }
  
  nav ul li a {
    text-decoration: none;
    color: black;
  }

 
  
/********FOOTER**********/
footer{
    background-color: black;
    font-family: "Quicksand", sans-serif
  }
  
  footer h3 {
    font-family: "Quicksand", sans-serif;
    text-align: center;
    color: white;
    padding-top: 20px;
  }
  
  .footer-container {
    display: flex;
    justify-content: center;
    color: white;
    padding-bottom: 30px;
  }
  
  .icons-footer {
    text-align: center;
  }
  
  .icons-footer i {
    padding: 10px;
    font-size: 25px;
  }
  