.black-field {
  background-color: black;
  max-height: 40px;
  width: 100%;
  display: flex;
  justify-content: right;
  position: fixed;
  z-index: 100;
  top: 0;
}

.black-field i {
  color: white;
  font-size: 20px;
  padding: 10px;
  padding-right: 50px;
}

header {
  font-family: "Quicksand", sans-serif;
  top: 0;
  max-height: 160px;
  width: 100%;
  z-index: 100;
  background-color: white;
  box-shadow: 0 0 3px rgb(139, 139, 139);
  position: fixed;
}

.nav-container p {
  display: none;
}

.fa-bars,
.fa-times {
  display: none;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav ul li {
  display: inline-block;
  padding: 30px;
  font-size: larger;
  font-weight: 500;
  margin-top: 2%;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.current {
  text-decoration: underline;
  font-weight: bolder;
}

/********FOOTER**********/
footer {
  background-color: black;
  font-family: "Quicksand", sans-serif
}

footer h3 {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  color: white;
  padding-top: 20px;
}

.footer-container {
  display: flex;
  justify-content: center;
  color: white;
  padding-bottom: 30px;
}

.icons-footer,
.icons-footer p {
  text-align: center;
  color: white;
}

.icons-footer i {
  padding: 10px;
  font-size: 25px;
}


/*MEDIA QUERIES*/

/*responsive for mobile devices*/

/*======HEADER & FOOTER=========*/
@media screen and (max-width: 810px) {

  .black-field,
  .black-field i {
    display: none;
  }

  header {
    height: 100px;
    background-color: black;
    margin: 0 auto;
  }

  .nav-container p {
    display: inline;
    font-size: 30px;
    color: white;
    font-family: "Quicksand", sans-serif;
  }

  .fa-bars,
  .fa-times {
    display: inline-block;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 10px 10px 10px 20px;
    cursor: pointer;
    margin-top: 3%;
  }

  .fa-times {
    display: none;
    margin-bottom: 10px;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 300px;
    display: none;
  }

  nav ul li {
    text-align: center;
    border-bottom: white solid 1px;
    background-color: black;
    font-size: 16px;
    margin-top: 0;
    width: 100%;
  }

  nav ul li:last-child {
    border-bottom: none;
  }

  nav ul li a {
    color: white;
  }

  footer h3 {
    font-size: 20px;
  }
}