html {
  box-sizing: border-box;
}

:before,
:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
}

main {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

header {
  top: 0;
  height: 160px;
  width: 100%;
  z-index: 100;
  background-color: white;
  box-shadow: 0 0 3px rgb(139, 139, 139);
}

.black-field {
  background-color: black;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: right;
  position: fixed;
  z-index: 100;
  top: 0;
}

.black-field i {
  color: white;
  font-size: 20px;
  padding: 10px;
  padding-right: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
  display: inline-block;
  padding: 30px;
  margin-top: 3%;
  font-size: larger;
  font-weight: 500;
}

h1 {
  font-family: "Playfair Display", serif;
}
