@import "../css/globalstyles.css";
@import "../css/header&footer.css";


.section1 {
    display: flex;
    flex-direction: column;
    max-height: 60vh;
    margin-top: 0;
    padding: 0 5%;
    position: relative;
}

.section1 h1 {
  position: absolute;
  display: inline-block;
  background-color: white;
  padding: 1%;
  top: 60%;
  left: 10%;
  font-size: 30px;
}

video {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.hr-lines, .hr-lines2 {
    position: relative;
    text-align: center;
    margin: 30px 0;
    padding: 30px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.hr-lines:before, .hr-lines2:before{
    content:" ";
    display: block;
    height: 2px;
    min-width: 25%;
    position: absolute;
    top: 50%;
    left: 100px;
    background: black;
}

.hr-lines:after, .hr-lines2:after {
  content:" ";
  display: block;
  height: 2px;
  min-width: 25%;
  position: absolute;
  top: 50%;
  right: 100px;
  background: black;
}

.section2-home {
  display: flex;
  flex-direction: row;
}
.fa-arrow-left {
  left: 0;
}

.fa-arrow-right {
  right: 0;
}

.fa-arrow-left:hover,
.fa-arrow-right:hover{
  color: #FFDD00;
}

.latest-posts-container {
  overflow: hidden;
  flex: 1;  
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
}

.fa-arrow-left,
.fa-arrow-right {
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
  padding: 20px;
  background-color: rgba(236, 236, 236, 0.902);
  border-radius: 50%;
  align-self: center;
}

.slider-container {
  display: flex;
  margin: auto;
  justify-content: center; 
  margin: 0 auto;
}

.slider-carousel {
  display: flex;
  box-shadow: 0 0 1px;
  padding: 20px;
  width: 100%;
  border-radius: 2%;
  margin: 20px;
  max-height: fit-content;
}

.slide {
  display: flex;
  margin: 1%;
  height: 100%;
  width: 300px;
}

.slide a {
  text-decoration: none;
}

.card-text h3, p {
  color: black;
  text-align: left;
}

.card-image {
  background-size: cover;
  justify-content: center;
}

.card-image img {
  width: 100%;
  height: 100%;
}


.card-text {
  font-size: 15px;
}

.read-more-btn {
  text-decoration: underline;
  text-align: right;
}


/******************************ABOUT ME******************************/
.aboutme-image {
  display: flex;
  justify-content: center;
}

.aboutme-image img {
  max-height: 40vh;
  border-radius: 50%;
}

.aboutme-text {
text-align: center;
padding: 20px 50px;
}

/************************** USEFUL RESOURCES ************************/

.useful-resources-section {
  display: flex;
  flex-direction: row;
  padding: 40px 40px 80px;
  position: relative;
}

.useful-resources-card,
.useful-resources-card2,
.useful-resources-card3 {
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30vh;
  margin: 0 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.useful-resources-card {
  background-image: url(../images/microphone.jpg);
}

.useful-resources-card2 {
  background-image: url(../images/gaudi-book.jpg)
}

.useful-resources-card3 {
  background-image: url(../images/man\ with\ tablet.jpg);
}

.resources-title {
  background-color:white;
  display: inline-block;
  padding: 2% 10%;
  border-radius: 3%;
  position: absolute;
  bottom: 10%;
  box-shadow: 0 0 2px rgb(139, 139, 139);
  transform: scale(1);
  transition: .3s ease-in-out;
}

.resources-title:hover{
  transform: scale(1.3);
  cursor: pointer;
}


.resources-title p {
  font-weight: bold;
  margin: 5%;
  text-align: center;
}

.hr-lines2:before{
    min-width: 20%;
}

.hr-lines2:after{
  min-width: 20%;
}


/*MEDIA QUERIES*/

/*responsive for mobile devices*/
@media screen and (max-width: 810px) {
.section1 {
    padding: 0;
}

.section1 h1 {
  font-size: 20px;
}

video {
  margin-top: 0;
}

.hr-lines, .hr-lines2 {
    margin: 10px 0;
    padding: 20px;
    font-size: 25px;
}

.hr-lines:before, .hr-lines2:before{
  display: none;
}

.hr-lines:after, .hr-lines2:after {
  display: none;
}


.fa-arrow-left {
  left: 0;
}

.fa-arrow-right {
  right: 0;
}

.latest-posts-container {
  margin: 0 0 30px 0;

}

.fa-arrow-left,
.fa-arrow-right {
  font-size: 30px;
  padding: 10px;
  align-self: center;
}

.slider-container {
  display: flex;
  justify-content: center; 
  margin: 0 auto;
}

.slider-carousel {
  box-shadow: none;
  padding: 3px;
  width: 100%;
  margin: 0;
  max-height: fit-content;
}

.slide {
  display: flex;
  margin: 1%;
  height: 100%;
  width: 300px;
}

.card-text h3{
  font-size: 20px;
}

.card-text h3, p {
  color: black;
  text-align: left;
}

.card-image {
  min-height: 80px;
}

.card-image img {
  width: 100%;
  height: 100%;
}

.card-text {
  font-size: 15px;
}

.read-more-btn {
  text-decoration: underline;
  text-align: left;
}

.aboutme-section {
background-color:#E8E8E8;
padding: 20px;
}

.aboutme-text {
text-align: left;
padding: 20px 30px;
}

.aboutme-image img {
  max-height: 30vh;
}

.useful-resources-section {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.useful-resources-card,
.useful-resources-card2,
.useful-resources-card3 {
  margin: 0;
}

.resources-title:hover{
  display: none;
}

}

/*responsive for mobile devices*/
@media screen and (min-width: 810px) and (max-width: 1105px) {
  .hr-lines, .hr-lines2 {
    padding: 20px;
    font-size: 30px;
}

.hr-lines:before, .hr-lines2:before{
  display: none;
}

.hr-lines:after, .hr-lines2:after {
  display: none;
}

}