@import "../css/globalstyles.css";
@import "../css/header&footer.css";

.post-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.post-container h1,
.post-container p {
    text-align: center;
}

.post-image {
    height: 200px;
    width: 300px;
    margin: auto;
    cursor: pointer;
}

.post-image img {
    height: 100%;
    width: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    cursor: zoom-out;
}

.modal-img {
    margin: auto;
    display: block;
    max-width: 700px;
}


.post-text {
    padding: 3% 10%;
}

.post-text p {
    text-align: start;
}


/*MEDIA QUERIES*/

/*responsive for mobile devices*/
@media screen and (max-width: 810px) {

    .post-container h1,
    .post-container p {
        text-align: center;
    }

    .post-container h1 {
        font-size: 25px;
        padding-top: 20px;
    }

    .post-image {
        height: 200px;
        width: 300px;
    }

    .modal {
        padding-top: 100px;
    }

    .modal-img {
        width: 300px;
    }

    .post-text {
        padding: 3% 10%;
    }

    .post-text p {
        text-align: start;
    }


}