@import "../css/globalstyles.css";
@import "../css/header&footer.css";

.post-container {
    display: flex;
    flex-direction: column;
}

.post-container h1 {
    text-align: center;
}



.comment-section {
    display: block;
    border-color: red solid;
}