@import "../css/globalstyles.css";
@import "../css/header&footer.css";

.post-container {
    display: flex;
    flex-direction: column;
}

.post-container h1 {
    text-align: center;
}



.comment-section {
    display: block;
    border-color: red solid;
}

.post-image img {
    height: 100%;
    width: 100%;
}

.post-image {
    height: 200px;
    width: 300px;
    justify-content: center;
    border-color: red solid 3px;
}

.post-text {
    padding: 3% 10%;
}